<div class = "nav pull-right">
	
	<li><%=link_to "Articles", articles_path %></li>
	<li><%=link_to "Portfolios", portfolios_path %></li>
	<li><%=link_to "Submit Article", new_articles_path %></li>
	
	<li><%=link_to "Add a Transaction", new_transactions_path %></li>
	

	<li class = "dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%=current_user.name%>
      		<b class="caret"></b>
      	</a>
	
		<ul class = "dropdown-menu" role="menu" >
			<li><%=link_to "My Profile", user_path(current_user.id) %></li>
			<li><%=link_to "Settings", edit_user_path(current_user.id) %></li>
			<li class='divider'</li>
			<li><%=link_to "Sign Out", signout_path %></li>

		</ul>
	</li>		
	
</div>